.back_div {
    width: 100%;
    height: 105vh;
    color: black;
    background-color: white;
    z-index: -1000;
}

strong {
    font-size: larger;
}

.back_img_div {
    width: 100%;
    height: 105vh;
    background: rgba(0, 0, 0, 0.7)url(./manphonelap.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    /* background-position: right; */
    background-size: 100% 100%;
    clip-path: polygon(0% 0%, 0 78%, 100% 100%, 100% 22%);
}

.back_img_div h2 {
    position: relative;
    top: 100px;
    left: 40px;
    margin-bottom: 30px;
    font-size: 33px;
    color: #FFFFFF;
}

.back_img_div ul {
    position: relative;
    top: 100px;
    left: 30px;
}

.back_img_div li {
    margin: 20px 0 0px 0;
    font-size: 15px;
    color: #FFFFFF;
}

.inner_why {
    position: absolute;
    width: 1.7%;
    height: 100vh;
    background-color: red;
    z-index: 99999;
}