form.create-note {
    position: relative;
    width: 320px;
    margin: 5px 0 15px 0;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
    width: 101%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

form.create-note button {
    position: absolute;
    right: 20px;
    bottom: -18px;
    background: #3f51b5;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.note {
    text-align: justify;
    text-justify: inter-word;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px;
    padding: 14px;
    width: 320px;
    /* min-height: 10px; */
    margin-top: 10px;
    float: left;
}

.note h1 {
    font-size: 1.3em;
    margin-bottom: 6px;
    font-weight: 800;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #3f51b5;
    border: none;
    border-radius: 6px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}

.notrec {
    color: lightgrey;
    font-size: 40px;
    display: flex;
    margin-top: 150px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}