.dispnote {
    padding: 0 8px 8px 8px;
    position: relative;
    right: 20px;
    top: -25px;
    /* height: 500px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* overflow-y: hidden; */
}

.exscroll {
    padding-bottom: 150px;
}

.dispnote::-webkit-scrollbar {
    display: none;
}